*.class
log.txt

# Package Files #
*.jar
*.war
*.ear

# Maven
log/
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle
/build/
gradle/
gradlew
gradlew.bat

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
